{
  "openapi": "3.1.0",
  "info": {
    "title": "Harvest API",
    "version": "v3"
  },
  "servers": [
    {
      "url": "https://harvest.greenhouse.io"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "schemas": {
      "access_token": {
        "type": "object",
        "required": [
          "token_type",
          "access_token",
          "expires"
        ],
        "properties": {
          "token_type": {
            "type": "string"
          },
          "access_token": {
            "type": "string"
          },
          "expires": {
            "type": "string"
          }
        }
      },
      "ai_opt_out_status": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer",
            "description": "Id of the job this decision applies to. Opt-out is recorded per job, not per candidate \u2014 a candidate who opts out of one job is unaffected on every other job."
          },
          "candidate_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Ids of the candidates this decision currently applies to. Almost always exactly one. A decision is recorded against an email address rather than a candidate, so it lists more than one id when several candidate records share that email address and each has an application on this job."
          },
          "opted_out": {
            "type": "boolean",
            "description": "`true` when the candidate has opted out of AI-assisted review for this job; `false` when they previously opted out and have since confirmed opting back in. Candidates who have never made a decision have no record here at all \u2014 absence is not the same as `false`."
          },
          "feature": {
            "type": "string",
            "description": "The AI feature this decision covers. Currently always `talent_matching`. New values may be added, so filter on this field rather than assuming every record refers to Talent Matching."
          },
          "confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp the candidate confirmed this decision by email, in ISO 8601. Only confirmed decisions appear in this list \u2014 an unverified submission is not yet in effect. Where a candidate has confirmed more than once for a job, only the most recent decision is returned."
          }
        }
      },
      "application_stage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer",
            "description": "Id of the application this stage entry belongs to."
          },
          "job_interview_stage_id": {
            "type": "integer",
            "description": "Id of the interview stage occupied during this entry. References a `/v3/job_interview_stages` row scoped to the application's job."
          },
          "entered_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp the application entered this stage, in ISO 8601. `null` only for backfilled or partially recorded history."
          },
          "exited_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp the application left this stage, in ISO 8601. `null` while the application is still in this stage (the current stage entry)."
          },
          "days_in_stage": {
            "type": "integer",
            "description": "Whole number of calendar days the application has spent in this stage, computed as `exited_at - entered_at` for past stages and `now - entered_at` for the current stage."
          },
          "current": {
            "type": "boolean",
            "description": "`true` when this row represents the application's current interview stage; `false` for past stage entries in the candidate's history."
          }
        }
      },
      "application": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "agency_note_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the note created when the candidate was submitted by an agency, or `null` if the application did not come through an agency."
          },
          "candidate_id": {
            "type": "integer",
            "description": "Id of the candidate (person) this application belongs to."
          },
          "coordinator_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the user assigned as coordinator on the application's job, or `null` when unassigned."
          },
          "job_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the job this application is on. `null` for jobless prospect applications."
          },
          "job_post_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the job post the candidate applied through, or `null` if the application was created internally rather than from a posted role."
          },
          "recruiter_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the user assigned as recruiter on the application's job, or `null` when unassigned."
          },
          "referrer_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the referrer who credited this application, or `null` if there was no referral. References a referrer, not a Greenhouse user."
          },
          "rejection_reason_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the rejection reason selected for the application. References a `/v3/rejection_reasons` row scoped to the organization. `null` when the application was rejected without a reason, or has not been rejected."
          },
          "source_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the source the application is attributed to (e.g. a job board, an event, an employee referral source). `null` if no source is set."
          },
          "stage_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the interview stage the candidate is currently in for this application. `null` for prospect applications and applications in a terminal state."
          },
          "job_interview_stage_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the job interview stage definition (see `GET /v3/job_interview_stages`) the candidate is currently in for this application. `null` for prospect applications and applications in a terminal state."
          },
          "stage_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name of the candidate's current interview stage on this application."
          },
          "status": {
            "type": "string",
            "enum": [
              "rejected",
              "hired",
              "converted",
              "in_process"
            ],
            "description": "Lifecycle status of the application. `in_process` for active candidates, `rejected` for rejected applications, `hired` once an offer is closed and the hire endpoint has fired, and `converted` for prospect applications that have been promoted to a candidate application via `convert_to_candidate`."
          },
          "needs_decision": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`true` when the application is waiting on a hiring-team decision (scorecard completion, advance/reject, etc.) in its current stage."
          },
          "prospect": {
            "type": "boolean",
            "description": "`true` for prospect applications (sourced candidates not yet attached to a single job), `false` for candidate applications on a specific job."
          },
          "rejected_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp the application was rejected, in ISO 8601. `null` for applications that have not been rejected."
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp of the most recent activity on this application (notes, emails, stage changes, etc.), in ISO 8601."
          },
          "location_address": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-form location string captured on the application (typically from the job post's location question)."
          },
          "answers": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string",
                  "description": "Application-form question the candidate answered."
                },
                "answer": {
                  "type": "string",
                  "description": "Candidate's free-text answer to the question."
                }
              }
            },
            "description": "Free-text answers the candidate provided on the job post application form. Each entry pairs the question text with the candidate's answer."
          },
          "prospective_job_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "For prospect applications, the ids of jobs the prospect is being considered for. Empty for non-prospect applications and for jobless prospects."
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "applied_candidate_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_tag_id": {
            "type": "integer",
            "description": "Id of the tag in your organization's candidate-tag dictionary. References a `/v3/candidate_tags` row."
          },
          "candidate_id": {
            "type": "integer",
            "description": "Id of the candidate (person) the tag is applied to."
          }
        }
      },
      "approval_flow": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer",
            "description": "Id of the job (hiring plan) this approval flow belongs to. References a `/v3/jobs` row."
          },
          "offer_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the specific offer this approval flow gates. Set only for `offer_candidate` flows attached to a real offer; null on the `open_job` and `offer_job` flows (which gate the job itself), and null on the `offer_candidate` prototype flow that lives on the job before any offer is created."
          },
          "approval_type": {
            "type": "string",
            "enum": [
              "open_job",
              "offer_job",
              "offer_candidate"
            ],
            "description": "What this flow approves. `open_job` gates opening the job for recruiting, `offer_job` gates allowing offers to be created on the job, and `offer_candidate` gates extending an individual offer to a candidate (one flow per offer, plus a prototype on the job)."
          },
          "sequential": {
            "type": "boolean",
            "description": "When `true`, approver groups resolve one at a time in `sort_order` \u2014 only after the current group resolves as approved are the next group's approvers asked. When `false`, all groups are activated in parallel as soon as the flow is started."
          },
          "version": {
            "type": "integer",
            "description": "Monotonically increasing revision counter for this approval flow. Job approval flows increment when system fields (e.g., department, requisition id, openings) or custom fields marked as triggering re-approval change after the flow has started. Use this together with an approver's `version_sent` to tell whether a pending approver is responding to the current version or a stale request. Offer approval flows attached to a specific `offer_id` are always version 1."
          },
          "requested_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the user who started the flow by requesting approvals (the V3 `request_approvals` endpoint, or the in-app \"Request Approval\" button). References a `/v3/users` row. Null until the flow has been started \u2014 approver groups exist but no emails have been sent."
          },
          "approval_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending",
              "rejected",
              "approved",
              null
            ],
            "description": "Denormalized terminal state of the flow, computed from the underlying approvers. `pending` while any group is still unresolved, `approved` once every group has reached its `approvals_required` threshold, `rejected` once any group has accumulated enough rejections to be unrecoverable. Updates to `sequential` and `replace_approver_groups` are only allowed while `pending`."
          }
        }
      },
      "approver_group": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "approval_flow_id": {
            "type": "integer",
            "description": "Id of the approval flow this group belongs to."
          },
          "approvals_required": {
            "type": "integer",
            "description": "Number of approvers in this group whose `approve` actions are needed to resolve the group as approved (i.e., the M in \"M of N\"). Defaults to 1. The group resolves as rejected once enough approvers reject that the remaining members can no longer reach this threshold."
          },
          "sort_order": {
            "type": "integer",
            "description": "Zero-based position of this group within its approval flow. Groups with the same `sort_order` resolve in parallel; groups with a higher `sort_order` only become actionable once all earlier groups have resolved as approved."
          },
          "required_for_exception": {
            "type": "boolean",
            "description": "When `true`, this group must still approve even when the approval flow is being processed as an exception (where other groups can be skipped). Defaults to `false`."
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp at which the group reached a terminal state (all `approvals_required` approvals received, or enough rejections to make that impossible). Null while the group is still pending."
          }
        }
      },
      "approver": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sort_order": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Position of this approver within its approver group. Lower values are asked to approve first when the parent approval flow is sequential."
          },
          "user_id": {
            "type": "integer",
            "description": "Id of the user designated as an approver. References a `/v3/users` row."
          },
          "status": {
            "type": "string",
            "enum": [
              "waiting",
              "due",
              "approved",
              "rejected"
            ],
            "description": "Current state of this approver's response. `waiting` means earlier approvers (or the parent flow) have not yet activated this approver, `due` means a request has been sent and is pending action, `approved` and `rejected` are the resolved outcomes."
          },
          "resolved_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the user who approved or rejected on this approver's behalf. References a `/v3/users` row. Null until `status` is `approved` or `rejected`; usually equal to `user_id` unless an admin resolved the request for them."
          },
          "resolved_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp when this approver was resolved (approved or rejected). Null while the approver is `waiting` or `due`."
          },
          "request_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp when the approval request email was first sent to this approver. Null until the parent approval flow reaches this approver."
          },
          "version_sent": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Version of the parent approval flow at the time the request was sent to this approver. If the flow is later edited and its version increments, this value lets you tell whether the approver is responding to the current version or a stale request."
          },
          "reminder_sent_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 timestamp of the most recent manual reminder sent to this approver. Null if no manual reminder has been sent."
          },
          "reminder_sent_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the user who sent the most recent manual reminder. References a `/v3/users` row. Null if no manual reminder has been sent."
          },
          "reminders_sent": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Count of manual reminders sent to this approver. Distinct from `auto_reminders_sent`."
          },
          "approver_group_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the approver group this approver belongs to. References a `/v3/approver_groups` row. The parent approval flow is reachable via the group."
          },
          "added_by_custom_field_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the custom field that resolved to this approver, when the approver was added dynamically via a user-typed custom field (for example, a `Hiring Manager` field). Null when the approver was set explicitly rather than via a custom field."
          },
          "send_auto_reminder_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "Date (`YYYY-MM-DD`) when the next automatic reminder is scheduled to send. Null when no auto-reminder is queued \u2014 either because the approver is not `due`, automatic reminders are disabled for the organization, or the configured reminder limit has been reached."
          },
          "auto_reminders_sent": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Count of automatic reminders sent to this approver since the request was last issued. Resets when the parent approval flow is restarted."
          }
        }
      },
      "attachment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer",
            "description": "Id of the application this attachment is associated with."
          },
          "candidate_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the candidate (person) the attachment ultimately belongs to, resolved through the application. `null` if the application's candidate cannot be resolved."
          },
          "type": {
            "type": "string",
            "enum": [
              "resume",
              "cover_letter",
              "take_home_test",
              "offer_packet",
              "offer_letter",
              "signed_offer_letter",
              "other",
              "form_attachment",
              "midfunnel_agreement",
              "automated_agreement"
            ],
            "description": "Classification of the attachment. `resume`, `cover_letter`, and `take_home_test` are candidate-supplied documents; `offer_packet`, `offer_letter`, and `signed_offer_letter` are offer documents; `midfunnel_agreement` and `automated_agreement` are e-signed documents; `form_attachment` is generated by Greenhouse forms; `other` is a free-form bucket for any document that doesn't fit the above."
          },
          "filename": {
            "type": "string",
            "description": "Original filename of the uploaded document, including extension."
          },
          "url": {
            "type": "string",
            "description": "Time-limited download URL for the underlying file. The link may be served via a Greenhouse redirect endpoint that issues a fresh short-lived file URL on each request \u2014 HTTP clients should follow redirects when downloading. Links expire after seven days; refetch the attachment to obtain a fresh URL."
          }
        }
      },
      "blocked_spam_source": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "source_type": {
            "type": "string",
            "enum": [
              "ip_address",
              "cidr_block",
              "email_address",
              "email_domain"
            ],
            "description": "Kind of identifier stored in `value`. `ip_address` is a single IPv4 or IPv6 address, `cidr_block` is an IPv4 or IPv6 CIDR range, `email_address` is a full address, and `email_domain` is the part after the `@`. Applications arriving from a matching source are rejected at intake with the reason `Rejected by organization blocklist`."
          },
          "value": {
            "type": "string",
            "description": "The IP address, CIDR range, email address, or email domain to block, interpreted according to `source_type`. Stored lowercased and stripped of surrounding whitespace, so filtering by `value` is case-insensitive. Common consumer email domains (e.g. `gmail.com`, `outlook.com`, `yahoo.com`) cannot be blocked and are rejected on create."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-text annotation set by the user who added or last updated the entry, typically used to record why the source was blocked. Limited to 255 characters; `null` when no note was provided."
          }
        }
      },
      "bulk_request": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "bulk_action_uuid": {
            "type": "string",
            "description": "Unique identifier for the bulk request, returned when the bulk endpoint was first called. Use this to look up the request via `GET /v3/bulk_requests/{bulk_action_uuid}`."
          },
          "requested_by_user_id": {
            "type": "integer",
            "description": "Id of the Greenhouse user the bulk request was executed on behalf of (the ISU or the access-token user)."
          },
          "status": {
            "type": "string",
            "description": "Current lifecycle state of the bulk request. One of `building` (the request is being assembled), `pending` (queued and waiting to start), `in_progress` (jobs are running), `completed` (every job finished, regardless of per-row success), or `failed` (the bulk request itself failed before its rows could run)."
          },
          "record_count": {
            "type": "integer",
            "description": "Total number of rows submitted in the bulk request's `data` array."
          },
          "success_count": {
            "type": "integer",
            "description": "Number of rows that completed successfully so far. Updates incrementally while `status` is `in_progress`."
          },
          "failure_count": {
            "type": "integer",
            "description": "Number of rows that returned an error so far. Updates incrementally while `status` is `in_progress`; the per-row error bodies are written to `failure_results_url` on the single-bulk-request response."
          },
          "callback_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Webhook URL Greenhouse will POST to when the bulk request completes, as supplied at creation time. Null if no callback was requested."
          },
          "callback_response": {
            "type": [
              "string",
              "null"
            ],
            "description": "Status-line summary of Greenhouse's POST to `callback_url` (for example `200 OK`). Null until the callback fires, or when no callback was requested."
          },
          "completed_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp when the bulk request reached `completed` or `failed` state, in ISO 8601. Null while the request is still active."
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp after which Greenhouse deletes this bulk request record and its result files, in ISO 8601. Null until the request finishes."
          },
          "api_endpoint": {
            "type": "string",
            "description": "Identifier of the underlying single-resource endpoint each row in `data` is dispatched to (for example `post_v3_openings`, `delete_v3_openings`)."
          },
          "requested_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp when the bulk request was created, in ISO 8601."
          }
        }
      },
      "candidate_attribute_type": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Display name of the attribute type (e.g. `JavaScript`, `Leadership`, `Years of experience`). Unique among active, same-draft-status attribute types on the same job."
          },
          "job_id": {
            "type": "integer",
            "description": "Id of the job this attribute type belongs to. Each job carries its own set of attribute types \u2014 there is no org-wide attribute dictionary."
          },
          "sort_order": {
            "type": "integer",
            "description": "Display priority within the job's attribute list. Lower values sort first."
          },
          "active": {
            "type": "boolean",
            "description": "`true` when the attribute type is in use; `false` after it has been archived from the job's attribute list. Defaults to `true`."
          },
          "is_draft": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`true` while the attribute is being authored on a draft job and has not yet been published; `false` or `null` once the attribute is part of the live job."
          }
        }
      },
      "candidate_education": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_id": {
            "type": "integer",
            "description": "Id of the candidate (person) this education entry belongs to."
          },
          "school_name_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the custom-field option representing the school. Resolve the display name via `GET /v3/custom_field_options?ids=<id>`; the school dictionary lives under the org's `school_name` custom field."
          },
          "degree_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the custom-field option representing the degree (e.g. `Bachelor's`, `Master's`). Resolve the display name via `GET /v3/custom_field_options?ids=<id>`; the degree dictionary lives under the org's `degree` custom field."
          },
          "discipline_custom_field_option_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the custom-field option representing the field of study (e.g. `Computer Science`). Resolve the display name via `GET /v3/custom_field_options?ids=<id>`; the discipline dictionary lives under the org's `discipline` custom field."
          },
          "start_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Start date the education entry covers, in ISO 8601. Only the month and year are surfaced on the candidate profile; any day/time component is stored but ignored by the Greenhouse UI."
          },
          "end_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "End date the education entry covers, in ISO 8601. `null` for in-progress education. Only the month and year are surfaced on the candidate profile."
          },
          "latest": {
            "type": "boolean",
            "description": "`true` when this is the candidate's most recent education (by `end_at`). Greenhouse maintains this flag automatically \u2014 at most one education per candidate has `latest: true`."
          },
          "start_date_month": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Month component (1-12) of the education's start, when only month/year granularity is known."
          },
          "start_date_year": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Year component (e.g. `2014`) of the education's start, when only month/year granularity is known."
          },
          "end_date_month": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Month component (1-12) of the education's end, when only month/year granularity is known."
          },
          "end_date_year": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Year component (e.g. `2018`) of the education's end, when only month/year granularity is known."
          }
        }
      },
      "candidate_employment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "candidate_id": {
            "type": "integer",
            "description": "Id of the candidate (person) this employment entry belongs to."
          },
          "company_name": {
            "type": "string",
            "description": "Free-text name of the employer, as entered on the candidate's profile."
          },
          "title": {
            "type": "string",
            "description": "Free-text job title held at this employer."
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date of this employment, as an ISO 8601 date. The Greenhouse UI displays only the month and year."
          },
          "end_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "End date of this employment, as an ISO 8601 date. `null` indicates the employment is current (ongoing). The Greenhouse UI displays only the month and year."
          },
          "latest": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`true` when this is the candidate's most recent employment. Greenhouse maintains this flag automatically \u2014 the current job (`end_date: null`) wins, otherwise the entry with the latest `end_date` \u2014 and at most one employment per candidate has `latest: true`. Mirrors the `company` and `title` shown on the parent candidate record."
          }
        }
      },
      "candidate_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Tag label shown on candidate profiles. Unique per organization, case sensitive."
          }
        }
      },
      "candidate": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "preferred_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Preferred or chosen name the candidate goes by, when different from their legal first name."
          },
          "company": {
            "type": [
              "string",
              "null"
            ],
            "description": "Candidate's current company, as entered on their profile."
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Candidate's current job title, as entered on their profile."
          },
          "last_activity_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp of the most recent activity on any of the candidate's applications (notes, emails, stage changes, etc.), in ISO 8601."
          },
          "private": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "If true, the candidate is restricted to users with `View Private Candidates` access. Defaults to `false`."
          },
          "can_email": {
            "type": "boolean",
            "description": "Whether this candidate has consented to receive email communication from your organization."
          },
          "time_zone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Candidate's time zone as a Rails-style identifier (for example `Eastern Time (US & Canada)`)."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Candidate tag names applied to this candidate within your organization."
          },
          "linked_user_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Ids of Greenhouse users linked to this candidate (employees represented by both a user record and a candidate record)."
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Phone numbers on the candidate's profile. Each entry pairs the `value` with a `type` such as `mobile`, `home`, `work`, `skype`, or `other`. Ordered by type \u2014 `home`, `work`, `mobile`, `skype`, then `other` \u2014 and oldest first within a type."
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Postal addresses on the candidate's profile. Each entry pairs the `value` with a `type` such as `home`, `work`, or `other`. Ordered oldest first."
          },
          "email_addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Email addresses on the candidate's profile. Each entry pairs the `value` with a `type` such as `personal`, `work`, or `other`. Ordered by most recently updated, and oldest first among entries last updated at the same time."
          },
          "website_addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            },
            "description": "Personal websites or portfolio URLs on the candidate's profile. Each entry pairs the `value` with a `type` such as `personal`, `company`, `portfolio`, `blog`, or `other`. Ordered oldest first."
          },
          "social_media_addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                }
              }
            },
            "description": "Social media handles or URLs on the candidate's profile. Social entries are untyped \u2014 only the `value` is returned. Ordered oldest first."
          },
          "custom_fields": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "name",
                "type",
                "value"
              ],
              "properties": {
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "value": {
                  "anyOf": [
                    {
                      "type": [
                        "object",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "close_reason": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Display label shown to recruiters and hiring managers when closing an opening (e.g. `Hire - New Headcount`, `Hire - Backfill`, `On Hold`, `Not Filling`). Unique within the organization. Names that start with `Hire -` are treated as hire outcomes in Greenhouse reporting; other names are non-hire outcomes. Free-text, since each organization customizes its own list under Configure > Custom Options > Close Reasons for Job Openings."
          }
        }
      },
      "custom_field_department": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer",
            "description": "Id of the custom field whose visibility is being scoped. References a `/v3/custom_fields` row."
          },
          "department_id": {
            "type": "integer",
            "description": "Id of the department the custom field is restricted to. References a `/v3/departments` row."
          }
        }
      },
      "custom_field_office": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer",
            "description": "Id of the custom field whose visibility is being scoped. References a `/v3/custom_fields` row."
          },
          "office_id": {
            "type": "integer",
            "description": "Id of the office the custom field is restricted to. References a `/v3/offices` row."
          }
        }
      },
      "custom_field_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "custom_field_id": {
            "type": "integer",
            "description": "Id of the parent custom field this option belongs to. Only fields with `value_type` of `single_select` or `multi_select` carry options."
          },
          "name": {
            "type": "string",
            "description": "Display label shown to recruiters and hiring managers in dropdowns (e.g. `Engineering`, `Bachelor's`, `Stanford University`). Unique among active options on the same parent custom field."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Caller-supplied identifier from the partner's source system (typically an HRIS row id or legacy ATS id). Persisted verbatim as the column `offsite_hris_id` and not interpreted by Greenhouse."
          },
          "sort_order": {
            "type": "integer",
            "description": "Display position within the parent custom field's dropdown. Lower values render first; ties fall back to insertion order. Alias of `priority` in V1/V2."
          },
          "active": {
            "type": "boolean",
            "description": "`true` while the option is selectable. Set to `false` after deletion \u2014 historical selections on candidates, jobs, and offers are preserved so the value still resolves on existing records."
          }
        }
      },
      "custom_field": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "field_type": {
            "type": "string",
            "enum": [
              "job",
              "opening",
              "standard",
              "offer",
              "compensation_frequency",
              "candidate",
              "referral_question",
              "application",
              "rejection_question",
              "form",
              "agency_question",
              "user_attribute"
            ],
            "description": "Resource this field attaches to. Drives which create/update request shape applies and which endpoints accept the field as a `custom_fields` value (e.g. `job` fields appear on `/v3/jobs`, `candidate` fields on `/v3/candidates`)."
          },
          "sort_order": {
            "type": "integer",
            "description": "Display priority within the field group on this `field_type`. Lower values render first; alias of `priority` in V1/V2."
          },
          "name": {
            "type": "string",
            "description": "Human-readable label shown to recruiters and hiring managers (e.g. `Cost Center`, `Start Date`). Unique among active fields of the same `field_type`."
          },
          "value_type": {
            "type": "string",
            "enum": [
              "short_text",
              "long_text",
              "yes_no",
              "single_select",
              "multi_select",
              "currency",
              "number",
              "date",
              "url",
              "currency_range",
              "number_range",
              "user",
              "linked",
              "header",
              "statement",
              "attachment",
              "rich_text"
            ],
            "description": "Data type and editor. `short_text`, `long_text`, `yes_no`, `single_select`, `multi_select`, `currency`, `currency_range`, `number`, `number_range`, `date`, `url`, `user`, `attachment`, `rich_text`, and the `*_hris` masked-PII variants. Only `single_select` and `multi_select` carry options \u2014 fetch them from `/v3/custom_field_options?custom_field_ids={id}`."
          },
          "private": {
            "type": "boolean",
            "description": "If `true`, only users granted the matching `View Private` permission can see or edit this field's values."
          },
          "required": {
            "type": "boolean",
            "description": "If `true`, a value must be supplied before the parent resource (job, offer, application, etc.) can be saved through the UI. The API still accepts blank values; enforcement happens at the form layer."
          },
          "require_approval": {
            "type": "boolean",
            "description": "Job and opening fields only. If `true`, edits to this field's value route through the job's approval workflow before taking effect."
          },
          "trigger_new_version": {
            "type": "boolean",
            "description": "Offer fields only. If `true`, changing this field's value on an existing offer creates a new offer version rather than mutating the current one in place."
          },
          "active": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`true` when the field is in use; `false` after archival. Archived fields are still returned by default \u2014 pass `active=true` on `/v3/custom_fields` to filter to live fields only."
          },
          "updated_by_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the Greenhouse user who last edited the field definition, or `null` if no edit has been recorded."
          },
          "internal_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "employment_type",
              "offer_documents",
              "start_date",
              "school_name",
              "degree",
              "discipline",
              "offer_opening",
              null
            ],
            "description": "Greenhouse-managed semantic role for system-supplied fields (`employment_type`, `offer_documents`, `start_date`, `school_name`, `degree`, `discipline`, `offer_opening`). `null` for org-defined custom fields."
          },
          "expose_in_job_board_api": {
            "type": "boolean",
            "description": "Job fields only. If `true`, the field's value is exposed on the public Job Board API alongside the job listing."
          },
          "placeholder": {
            "type": [
              "string",
              "null"
            ],
            "description": "Greyed-out hint text shown inside an empty field input in the UI."
          },
          "name_key": {
            "type": "string",
            "description": "Stable lowercase identifier derived from `name` (e.g. `Cost Center` \u2192 `cost_center`). Use this \u2014 not `id` \u2014 as the canonical key when setting values via `custom_fields` on `/v3/jobs`, `/v3/offers`, `/v3/candidates`, and similar write endpoints."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Helper text shown beneath the field label in the UI. Plain text, no markup."
          },
          "application_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "all_applications",
              "candidate_applications",
              "prospect_applications",
              null
            ],
            "description": "Application fields only. Restricts which applications the field appears on: `all_applications`, `candidate_applications` (applicants), or `prospect_applications`. `null` for non-application fields."
          },
          "api_only": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Job fields only. If `true`, the field can only be edited through Harvest API calls \u2014 the UI renders it read-only. Mutually exclusive with `required`."
          },
          "use_for_job_approvals": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Job fields only. If `true`, the field is included on the job-approval form so approvers see its value when reviewing the job."
          },
          "use_for_offer_approvals": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Job fields only. If `true`, the field's value flows onto the offer-approval form for jobs that route offers through approvals."
          },
          "template_token_string": {
            "type": [
              "string",
              "null"
            ],
            "description": "Merge token usable in offer letter templates (e.g. `{{CUSTOM_FIELD_NAME}}`). Returned for offer fields configured with a token; `null` otherwise."
          },
          "default_value": {
            "type": [
              "object",
              "null"
            ],
            "description": "Default value applied when a new parent record is created without an explicit value for this field. Shape varies by `value_type` (string for text/url, number for currency/number, option id for single_select, ISO 8601 for date)."
          }
        }
      },
      "default_interviewer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "user_id": {
            "type": "integer",
            "description": "Id of the user pre-selected as a default interviewer for this interview kit. References a `/v3/users` row. Only individual-user defaults appear here \u2014 defaults configured in the Greenhouse UI as interviewer groups or hiring-team roles are not returned by this endpoint."
          },
          "interview_kit_id": {
            "type": "integer",
            "description": "Id of the interview kit this default-interviewer assignment belongs to. References a `/v3/interview_kits` row; the kit is tied to one stage on one job's interview plan, so this id transitively scopes the assignment to a specific job and stage."
          }
        }
      },
      "demographic_answer_option": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "demographic_question_id": {
            "type": "integer",
            "description": "Id of the parent `demographic_question` this option belongs to. Options are scoped to a single question and never shared across questions."
          },
          "sort_order": {
            "type": "integer",
            "description": "Display position within the parent question's choice list, ascending. Lower values render first; aliased from the underlying `priority` column."
          },
          "active": {
            "type": "boolean",
            "description": "`true` while the option is still selectable by applicants; `false` after it has been soft-removed. Inactive options are returned by default \u2014 pass `active=true` to filter to live options only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
          },
          "free_form": {
            "type": "boolean",
            "description": "If `true`, selecting this option prompts the applicant for a free-text response (e.g. an `I prefer to self-describe` choice). The free-text content itself is not exposed via Harvest."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display label shown to applicants in the answer list (e.g. `Non-binary`, `I prefer to self-describe`). `null` on standard Greenhouse-supplied options whose label is rendered from a localized template rather than this column."
          },
          "decline_to_answer": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "`true` when this option represents a structured `I don't wish to answer` choice; prefer this flag over matching on `name` when classifying declines. `null` on custom-organization options where the flag was never set; treat `null` as not a decline."
          }
        }
      },
      "demographic_answer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer",
            "description": "Id of the application this answer was submitted on. Demographic answers are scoped to a single application; if the same candidate applies to another job they re-answer the questionnaire and a new set of answers is created."
          },
          "demographic_question_id": {
            "type": "integer",
            "description": "Id of the `demographic_question` this answer responds to. One application produces at most one row per question per `demographic_answer_option`."
          },
          "demographic_answer_option_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the `demographic_answer_option` the applicant selected. `null` when the applicant skipped the question, when the question is multi-select and this row carries only the free-form text, or when the option has since been hard-deleted. For multi-select questions one row is returned per chosen option."
          },
          "free_form_text": {
            "type": [
              "string",
              "null"
            ],
            "description": "Applicant-supplied text for `free_form` answer options (e.g. an `Other \u2014 please describe` choice). `null` when the selected option is not marked free-form or when no text was entered. Highly sensitive self-identification data \u2014 handle with the same care as EEOC responses."
          }
        }
      },
      "demographic_question_set": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string",
            "description": "Name of the demographic question set, unique within the organization among active sets. Used as the section header for the grouping when the set is attached to a job post or candidate survey."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "External-facing copy shown to applicants above the questions on a job post or candidate survey, explaining why the organization is collecting this data. Required once any question in the set is marked `required`; otherwise optional."
          },
          "active": {
            "type": "boolean",
            "description": "`true` for sets currently in use; `false` after the set has been soft-removed (which also marks its `demographic_questions` inactive). Inactive sets are returned by default \u2014 pass `active=true` to filter to live sets only. Past applications continue to reference inactive sets so historical demographic responses stay readable."
          },
          "enabled": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the set is available for selection on new job posts and candidate surveys. `true` and `null` both mean enabled (legacy rows predate the column and are treated as enabled); pass `enabled=false` to filter to sets the organization has explicitly disabled."
          }
        }
      },
      "demographic_question": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "sort_order": {
            "type": "integer",
            "description": "Position of this question within its `demographic_question_set`, ascending. Lower values render first; aliased from the underlying `priority` column."
          },
          "active": {
            "type": "boolean",
            "description": "`true` when the question is in use on its set; `false` after it has been soft-removed. Inactive questions are returned by default \u2014 pass `active=true` to filter to live questions only. Past `demographic_answers` continue to reference inactive rows so historical applicant submissions stay readable."
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Prompt text shown to applicants (e.g. `How would you describe your gender identity?`). `null` on standard Greenhouse-supplied questions where the displayed prompt is rendered by the candidate-facing application from a localized template rather than this column."
          },
          "demographic_question_set_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the `demographic_question_set` this question belongs to. A set is what gets attached to a job post or candidate survey; questions are scoped to one set and never shared across sets. `null` for legacy questions not yet associated with a set."
          },
          "required": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "If `true`, applicants must select an answer (or the auto-added `I don't wish to answer` option) before submitting the application. Standard Greenhouse-supplied questions return `null` since their requiredness is controlled at the question-set level."
          },
          "answer_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "multi_value_single_select",
              "multi_value_multi_select"
            ],
            "description": "Shape of the answer the applicant can submit. `multi_value_single_select` is a single-choice question; `multi_value_multi_select` lets the applicant pick more than one option. Both types draw their choices from `/v3/demographic_answer_options?demographic_question_id={id}`. Free-text demographic questions are not supported."
          }
        }
      },
      "department": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Display name of the department (e.g. `Engineering`, `Marketing`)."
          },
          "parent_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the parent department in the organization's department tree. `null` for top-level departments. References another `/v3/departments` row."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Partner-supplied identifier for the department, typically the matching id from an HRIS or other external system. Free-form string and `null` when no external id has been set."
          }
        }
      },
      "eeoc": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "application_id": {
            "type": "integer",
            "description": "Id of the application this EEOC response is attached to. Each application has at most one EEOC response."
          },
          "candidate_id": {
            "type": "integer",
            "description": "Id of the candidate (person) who submitted this response \u2014 the application's owner."
          },
          "gender": {
            "type": "object",
            "description": "Self-identified gender. `id` and `description` are `null` when the candidate skipped the question. The fixed enum values for `description` are `Male`, `Female`, and `Decline To Self Identify`.",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "race": {
            "type": "object",
            "description": "Self-identified race or ethnicity. `id` and `description` are `null` when the candidate skipped the question. The fixed enum values for `description` are `American Indian or Alaskan Native`, `Asian`, `Black or African American`, `Hispanic or Latino`, `White`, `Native Hawaiian or Other Pacific Islander`, `Two or More Races`, and `Decline To Self Identify`.",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "veteran_status": {
            "type": "object",
            "description": "Self-identified protected-veteran status under VEVRAA. `id` and `description` are `null` when the candidate skipped the question. The fixed enum values for `description` are `I am not a protected veteran`, `I identify as one or more of the classifications of a protected veteran`, and `I don't wish to answer`.",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "disability_status": {
            "type": "object",
            "description": "Self-identified disability status under Section 503. `id` and `description` are `null` when the candidate skipped the question. The fixed enum values for `description` are `Yes, I have a disability, or have had one in the past`, `No, I do not have a disability and have not had one in the past`, and `I do not want to answer`.",
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp the candidate submitted the EEOC questionnaire, in ISO 8601. `null` while the questionnaire has been requested but not yet responded to."
          }
        }
      },
      "email_template": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "email_type": {
            "type": "string",
            "enum": [
              "candidate_auto_reply",
              "new_candidate",
              "new_internal_candidate",
              "new_referral",
              "new_agency_submission",
              "candidate_hired",
              "approved_to_start_recruiting",
              "offer_fully_approved",
              "job_closed",
              "candidate_rejection",
              "weekly_status",
              "scorecard_reminder",
              "scorecard_repeat_reminder",
              "interviewer_invite",
              "take_home_test_email",
              "daily_recruiting",
              "stage_transition",
              "scorecard_progress",
              "agency_candidate_status",
              "agency_candidate_stage",
              "candidate_email",
              "team_email",
              "none",
              "extending_offer",
              "non_admin_welcome",
              "job_admin_welcome",
              "site_admin_welcome",
              "prospect_referral_receipt",
              "candidate_referral_receipt",
              "candidate_availability_request",
              "candidate_availability_confirmation",
              "approval_request",
              "eeoc_data_request",
              "event_prospect_auto_reply",
              "job_post_request",
              "gdpr_notification",
              "stage_change_for_followers",
              "rejection_for_followers",
              "calendly_request",
              "gdpr_consent_extension",
              "agency_recruiter_assigned",
              "slack_mentions",
              "candidate_self_schedule_request",
              "sourcing_automation_step",
              "candidate_survey",
              "esignature_request",
              "scheduling_link_confirmation",
              "talent_matching_summary",
              "identity_verification_request",
              "identity_verification_daily_digest",
              "candidate_interview_reminder"
            ],
            "description": "Notification category that determines where the template is offered in the UI and which merge tokens are valid. Values include `candidate_email`, `candidate_rejection`, `interviewer_invite`, `scorecard_reminder`, `extending_offer`, `candidate_auto_reply`, and the other entries of this enum. `none` marks a custom, uncategorized template."
          },
          "subject": {
            "type": "string",
            "description": "Subject line sent on the email. May contain merge tokens (e.g. `{{CANDIDATE_FIRST_NAME}}`) that are substituted with live values at send time."
          },
          "body": {
            "type": [
              "string",
              "null"
            ],
            "description": "Plain-text body of the template, returned for templates whose notification type is plain text (e.g. `interviewer_invite`, `esignature_request`). `null` for HTML templates \u2014 see `html_body` instead. May contain merge tokens that are substituted at send time."
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the Greenhouse user who owns this personal template. `null` for organization-wide templates, which are owned by the organization and available to every user who can send the template's `email_type`."
          },
          "name": {
            "type": "string",
            "description": "Recruiter-facing label identifying the template in `Send email` dropdowns (e.g. `Reject - Phone Screen`, `Offer - Engineering`). Unique among active templates of the same `email_type` within the same owner scope."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Internal note explaining when to use the template, shown to recruiters underneath the template name in the configuration UI. Plain text, not sent to candidates."
          },
          "recipients": {
            "type": [
              "string",
              "null"
            ],
            "description": "Comma-separated list of additional email addresses that are CC'd on every send. `null` when no extra recipients are configured. Used in addition to \u2014 not instead of \u2014 `cc_recruiter` and `cc_coordinator`."
          },
          "default": {
            "type": "boolean",
            "description": "If `true`, this template is the organization's default for its `email_type` and is preselected in any workflow that auto-attaches a template (e.g. candidate auto-replies, scorecard reminders). At most one template per `email_type` can be the default."
          },
          "html_body": {
            "type": [
              "string",
              "null"
            ],
            "description": "HTML body of the template, returned for templates whose notification type is HTML (most candidate-facing types \u2014 see `NotificationType`). `null` for plain-text templates \u2014 see `body` instead. Sanitized server-side; may contain merge tokens substituted at send time."
          },
          "office_anywhere": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "If `true`, the template is available to hiring plans for any office. If `false`, the template is scoped to a specific subset of offices configured on the template. `null` for legacy templates predating office scoping."
          },
          "from_type": {
            "type": "string",
            "enum": [
              "user_email",
              "organization_email",
              "my_email_address",
              "inviter",
              "organizer",
              "not_applicable"
            ],
            "description": "How the sender's address is resolved at send time. `user_email` uses a shared communal email address configured on the template, `organization_email` uses one of the org's verified global addresses, `my_email_address` substitutes the sending user's address, `inviter` is used for welcome emails (resolves to the user inviting the new user), `organizer` is used for scorecard reminders (resolves to the interview organizer), and `not_applicable` is reserved for `interviewer_invite` and `esignature_request` templates that are sent from external services."
          },
          "cc_recruiter": {
            "type": "boolean",
            "description": "If `true`, the candidate's job recruiter is added to the `cc` list every time the template is sent, in addition to `recipients`."
          },
          "cc_coordinator": {
            "type": "boolean",
            "description": "If `true`, the candidate's job coordinator is added to the `cc` list every time the template is sent, in addition to `recipients`."
          }
        }
      },
      "focus_candidate_attribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_kit_id": {
            "type": "integer",
            "description": "Id of the interview kit this focus attribute belongs to. Focus attributes are configured per interview kit, so the same `job_candidate_attribute` may appear as a focus attribute on several kits within the same job."
          },
          "job_candidate_attribute_id": {
            "type": "integer",
            "description": "Id of the job's `job_candidate_attribute` (the per-job attribute catalogue entry on `/v3/job_candidate_attributes`) being marked as a focus attribute. The underlying attribute name and `candidate_attribute_type` live on that record."
          }
        }
      },
      "future_job_permission": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "department_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the department this permission is scoped to. References a `/v3/departments` row. When both `department_id` and `office_id` are `null`, the permission applies to every future job in the organization; when set, only future jobs in this department (optionally combined with `office_id`) grant the role."
          },
          "user_id": {
            "type": "integer",
            "description": "Id of the user who will receive the role on matching future jobs. References a `/v3/users` row."
          },
          "office_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the office this permission is scoped to. References a `/v3/offices` row. When both `office_id` and `department_id` are `null`, the permission applies to every future job in the organization; when set, only future jobs in this office (optionally combined with `department_id`) grant the role."
          },
          "role_id": {
            "type": "integer",
            "description": "Id of the Job Admin organization role the user will be assigned on matching future jobs. References a `/v3/organization_roles` row; future job permissions can only be granted for Job Admin roles."
          }
        }
      },
      "interview_kit": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer",
            "description": "Id of the job this kit is configured on."
          },
          "job_interview_id": {
            "type": "integer",
            "description": "Id of the `job_interview` slot this kit belongs to. Each slot on a job's interview plan has exactly one kit."
          },
          "exercises": {
            "type": [
              "string",
              "null"
            ],
            "description": "Current Interview Prep content surfaced to interviewers \u2014 instructions, exercises, and rubric notes for this slot on this job. Reflects edits made in the job's Interview Kit. If the kit has no override, falls back to the slot's default instructions; the `summary` and `instructions` fields on the `job_interviews` endpoint are static snapshots taken when the slot was first added and do not stay in sync with later edits, so use this field for the live value. May contain HTML."
          },
          "anonymize_candidate": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the candidate's name and identifying details are hidden from graders on the scorecard for this slot. Only meaningful for take-home test slots; defaults to `false`."
          },
          "anonymize_resumes": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether resumes are anonymized for reviewers at this slot. Only meaningful for Application Review and Hiring Manager Review slots and requires the organization to have resume anonymization enabled; defaults to `false`."
          }
        }
      },
      "interview_medium": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_id": {
            "type": "integer",
            "description": "ID of the interview that produced this media."
          },
          "application_id": {
            "type": "integer",
            "description": "ID of the application associated with the interview when the media was created."
          },
          "video_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Temporary download URL for the original interview video. The URL expires after 7 days, measured from when it is generated. `null` when no video is available."
          },
          "transcript_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "description": "Temporary download URL for a JSON transcript. The URL expires after 7 days, measured from when it is generated. The downloaded object contains only an `entries` array; each entry contains only `speaker`, `text`, `starts`, and `ends`. The `starts` and `ends` values are seconds relative to the beginning of the recording. `null` when no transcript is available."
          }
        }
      },
      "interviewer_tag": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Label of the interviewer tag (surfaced as an Interviewer Group in the Greenhouse UI). Unique per organization and case sensitive; a user can be assigned to multiple tags, and scheduling flows filter the interviewer picker by these labels."
          }
        }
      },
      "interviewer": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "interview_id": {
            "type": "integer",
            "description": "Id of the scheduled interview this row belongs to. References a `/v3/interviews` row; the same interview appears once per panel member."
          },
          "user_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the Greenhouse user on the panel. References a `/v3/users` row. `null` when the panel member is an external attendee on the underlying calendar event whose email does not match a Greenhouse user \u2014 in that case the address surfaces in `email`."
          },
          "scorecard_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the scorecard assigned to this panel member for this interview. Scorecards are one-to-one with interviewer rows: when an interview is scheduled, Greenhouse creates a placeholder scorecard per assigned interviewer that the same user later fills out. `null` for panel members who do not get a scorecard (typically the calendar organizer or external attendees without a Greenhouse user)."
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Email address used to identify this panel member. When `user_id` is set, this returns the user's primary Greenhouse email; for external attendees without a Greenhouse user, this is the raw calendar invitee address. `null` only when neither is available."
          },
          "response_status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "needs_action",
              "declined",
              "tentative",
              "accepted"
            ],
            "description": "Panel member's RSVP on the calendar invite. `needs_action` is the default until the invitee responds; `accepted`, `tentative`, and `declined` mirror the calendar response. For Outlook 365 customers, accept/decline only syncs back after the interview is updated in Greenhouse or the external event is re-edited."
          }
        }
      },
      "interview": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "job_id": {
            "type": "integer",
            "description": "Id of the job this interview is on."
          },
          "application_id": {
            "type": "integer",
            "description": "Id of the application this interview is scheduled against. Use it to look up the candidate."
          },
          "job_interview_id": {
            "type": "integer",
            "description": "Id of the job interview slot on the job's interview plan that this interview fulfills. Distinct from this interview's own `id`."
          },
          "starts_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Interview start time, in ISO 8601. `null` for interviews that have not yet been scheduled (for example, assigned take-home tests or interviews awaiting candidate availability) and for all-day events \u2014 see `all_day_start_on`."
          },
          "ends_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Interview end time, in ISO 8601. `null` when `starts_at` is also `null`, and for all-day events \u2014 see `all_day_end_on`."
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "description": "Free-form location string copied from the calendar event (a room name, an address, or a meeting URL when the customer puts it in the location field). Use `video_conferencing_url` for the link generated by Greenhouse's video integrations."
          },
          "status": {
            "type": "string",
            "enum": [
              "to_be_scheduled",
              "scheduled",
              "awaiting_feedback",
              "complete",
              "skipped",
              "collect_feedback",
              "to_be_sent",
              "sent",
              "received"
            ],
            "description": "Lifecycle status of the interview. `to_be_scheduled` is the pre-schedule placeholder; `scheduled` is on the calendar; `awaiting_feedback` is past with scorecards outstanding; `complete` is past with all scorecards in; `collect_feedback` and `skipped` are alternative terminal states; `to_be_sent`, `sent`, and `received` are used for take-home tests sent through Greenhouse."
          },
          "organizer_id": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Id of the Greenhouse user who scheduled the interview (the organizer on the underlying calendar event). `null` for interviews not yet scheduled through a calendar integration."
          },
          "scheduled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp the interview was first placed on a calendar through a Greenhouse calendaring integration (Google, Outlook, or Greenhouse Schedule), in ISO 8601. `null` for interviews that have never been scheduled via the calendar pipeline."
          },
          "all_day_start_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Start date of an all-day interview, in `YYYY-MM-DD`. Set instead of `starts_at`/`ends_at` when the underlying calendar event is an all-day event. `null` for time-bounded interviews."
          },
          "all_day_end_on": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "End date of an all-day interview, in `YYYY-MM-DD`. Set instead of `starts_at`/`ends_at` when the underlying calendar event is an all-day event. `null` for time-bounded interviews."
          },
          "external_event_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Id of the calendar event on the organizer's calendar (Google Calendar event id, Outlook event id, etc.). Use this to correlate an interview with the event on the external calendar. `null` for interviews not yet pushed to an external calendar."
          },
          "video_conferencing_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Join URL for the interview's video conference, auto-populated by Greenhouse's Zoom, Google Meet, or Microsoft Teams integrations when one is attached during scheduling. `null` when no video conferencing was added."
          },
          "availability_received_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Timestamp Greenhouse first recorded availability for this interview's stage on this application (used to compute time-to-schedule), in ISO 8601. `null` if availability has not been collected for the stage."
          }
        }
      },
      "job_board_custom_location": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "value": {
            "type": "string",
            "description": "Location string shown to job post creators in the per-board dropdown (e.g. `New York, NY`, `Remote (US)`). Site admins curate one row per line in the job board's location settings; the same `value` is used verbatim on `job_post_locations` rows whose `type` is `custom_list`."
          },
          "active": {
            "type": "boolean",
            "description": "`true` while the location is selectable on new and edited job posts. Set to `false` after removal \u2014 historical `job_post_locations` rows that already reference this id are preserved so existing posts still resolve their displayable location."
          },
          "greenhouse_job_board_id": {
            "type": "integer",
            "description": "Id of the job board this location is scoped to. Custom locations are board-scoped \u2014 a given location belongs to exactly one board, and a post may only reference a custom location whose `greenhouse_job_board_id` matches its own."
          }
        }
      },
      "job_board": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "company_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Display name shown to candidates at the top of this board's careers page (e.g. `Acme, Inc.`). Edited per board, so an organization with multiple boards can present a different brand on each."
          },
          "url_token": {
            "type": [
              "string",
              "null"
            ],
            "description": "Globally unique slug that identifies this board in public URLs (e.g. `acme` in `https://job-boards.greenhouse.io/acme`). Tokens are reserved across all Greenhouse customers \u2014 a token freed by a deactivated organization is not automatically reusable. Always `internal` for the organization's internal board."
          },
          "internal": {
            "type": "boolean",
[...]
